@use "colores" as colores;

.logo-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  &.lg {
    aspect-ratio: 25 / 11;
    padding: 10%;
  }
  &.sm {
    aspect-ratio: 1;
    padding: 15%;
  }
  &.borde {
    border-radius: 50%;
    border: 1px solid;
    &.borde-naranja {
      border-color: colores.$naranja;
    }
    &.borde-verde {
      border-color: colores.$verde;
    }
    &.borde-marron {
      border-color: colores.$marron;
    }
    &.borde-amarillo {
      border-color: colores.$amarillo;
    }
  }
  &.fondo {
    &.fondo-naranja {
      background-color: colores.$naranja;
    }
    &.fondo-verde {
      background-color: colores.$verde;
    }
    &.fondo-marron {
      background-color: colores.$marron;
    }
    &.fondo-amarillo {
      background-color: colores.$amarillo;
    }
  }
}
.logo-img {
  width: 100%;
  height: auto;
}
