@use "@angular/material" as mat;
/*@use "estilos/letiende-tema" as tema;*/
@use "estilos/letiende-auth-tema" as tema;
@include mat.core();

html {
  @include mat.system-level-colors(tema.$light-theme);
  @include mat.core-theme(tema.$light-theme);
  @include mat.all-component-themes(tema.$light-theme);
  @include mat.system-level-typography(tema.$light-theme);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  /* Estilos generales de componentes compartidos */
  lta-logo.logo-sm {
    width: 50px;
  }
  .spacer {
    flex: 1 1 auto;
  }
}
