@use "@angular/material" as mat;
@use "estilos/letiende-tema" as tema;
@include mat.core();
:root {
  @include mat.all-component-themes(tema.$light-theme);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}
